.pixel-borders {
  position: relative;
  display: inline-block;
  margin: 0 15px 15px 0;
  padding: 15px 20px;
  background-color: #fff;
  font-family: "Press Start 2P", Arial Black, Arial Bold, Arial, sans-serif;
}

.pixel-borders--1 {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
}
@supports (border-image-source: none) {
  .pixel-borders--1 {
    border-radius: 14px;
  }
}

.pixel-borders--1-inset {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
  position: relative;
}
@supports (border-image-source: none) {
  .pixel-borders--1-inset {
    border-radius: 14px;
  }
}
.pixel-borders--1-inset::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #ddd;
}

.pixel-borders--2 {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
}
@supports (border-image-source: none) {
  .pixel-borders--2 {
    border-radius: 20px;
  }
}

.pixel-borders--2-inset {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
}
@supports (border-image-source: none) {
  .pixel-borders--2-inset {
    border-radius: 20px;
  }
}
.pixel-borders--2-inset::after {
  border-style: solid;
  border-width: 4px;
  border-color: #ddd;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23ddd' /></svg>");
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  border-image-width: 0 1 1 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
@supports (border-image-source: none) {
  .pixel-borders--2-inset::after {
    border-radius: 14px;
  }
}

.pixel-box--light {
  border-style: solid;
  border-width: 4px;
  border-color: #cccccc;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23cccccc' /></svg>");
  position: relative;
  background-color: #fff;
}
@supports (border-image-source: none) {
  .pixel-box--light {
    border-radius: 14px;
  }
}
.pixel-box--light::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #e6e6e6;
}
.pixel-box--light:hover, .pixel-box--light:focus {
  background-color: #f2f2f2;
}

.pixel-box--primary {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #0c639c;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%230c639c' /></svg>");
  position: relative;
  background-color: #209cee;
}
@supports (border-image-source: none) {
  .pixel-box--primary {
    border-radius: 14px;
  }
}
.pixel-box--primary::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #1081cb;
}
.pixel-box--primary:hover, .pixel-box--primary:focus {
  background-color: #1190e3;
}

.pixel-box--success {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #5b8423;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%235b8423' /></svg>");
  position: relative;
  background-color: #92cc41;
}
@supports (border-image-source: none) {
  .pixel-box--success {
    border-radius: 14px;
  }
}
.pixel-box--success::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #77ac2e;
}
.pixel-box--success:hover, .pixel-box--success:focus {
  background-color: #85c034;
}

.pixel-box--warning {
  border-style: solid;
  border-width: 4px;
  border-color: #a88f06;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23a88f06' /></svg>");
  position: relative;
  background-color: #f7d51d;
}
@supports (border-image-source: none) {
  .pixel-box--warning {
    border-radius: 14px;
  }
}
.pixel-box--warning::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #d9b908;
}
.pixel-box--warning:hover, .pixel-box--warning:focus {
  background-color: #f2ce09;
}

.pixel-box--error {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #bc361a;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23bc361a' /></svg>");
  position: relative;
  background-color: #e76e55;
}
@supports (border-image-source: none) {
  .pixel-box--error {
    border-radius: 14px;
  }
}
.pixel-box--error::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #e14828;
}
.pixel-box--error:hover, .pixel-box--error:focus {
  background-color: #e45b3f;
}

.pixel-box--light-custom {
  border-style: solid;
  border-width: 4px;
  border-color: #cccccc;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23cccccc' /></svg>");
  position: relative;
  background-color: #fff;
}
@supports (border-image-source: none) {
  .pixel-box--light-custom {
    border-radius: 14px;
  }
}
.pixel-box--light-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #999, inset 4px 4px #999;
}
.pixel-box--light-custom:hover, .pixel-box--light-custom:focus {
  background-color: #f2f2f2;
}

.pixel-box--primary-custom {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #0c639c;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%230c639c' /></svg>");
  background-color: #209cee;
}
@supports (border-image-source: none) {
  .pixel-box--primary-custom {
    border-radius: 14px;
  }
}
.pixel-box--primary-custom:hover, .pixel-box--primary-custom:focus {
  background-color: #1190e3;
}

.pixel-box--success-custom {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #5b8423;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%235b8423' /></svg>");
  position: relative;
  background-color: #92cc41;
}
@supports (border-image-source: none) {
  .pixel-box--success-custom {
    border-radius: 14px;
  }
}
.pixel-box--success-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 4px 4px #b5dc7d;
}
.pixel-box--success-custom:hover, .pixel-box--success-custom:focus {
  background-color: #85c034;
}

.pixel-box--warning-custom {
  border-style: solid;
  border-width: 4px;
  border-color: #a88f06;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23a88f06' /></svg>");
  position: relative;
  background-color: #f7d51d;
}
@supports (border-image-source: none) {
  .pixel-box--warning-custom {
    border-radius: 14px;
  }
}
.pixel-box--warning-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #d9b908, inset 4px 4px #fae367;
}
.pixel-box--warning-custom:hover, .pixel-box--warning-custom:focus {
  background-color: #f2ce09;
}

.pixel-box--error-custom {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
  position: relative;
  background-color: #e76e55;
}
@supports (border-image-source: none) {
  .pixel-box--error-custom {
    border-radius: 14px;
  }
}
.pixel-box--error-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #e14828;
}
.pixel-box--error-custom:hover, .pixel-box--error-custom:focus {
  background-color: #e45b3f;
}

@font-face {
  font-family: Mono;
  src: url(assets/fonts/mono/spacemono-regular-webfont.woff);
}
@font-face {
  font-family: Roboto;
  src: url(assets/fonts/roboto/roboto-regular-webfont.woff) url(assets/fonts/roboto/roboto-light-webfont.woff);
}
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Mono;
}

.mobile {
  display: none;
}

.hamburger {
  display: none;
  z-index: 9999;
}

:root {
  --color-light: #f2f2f2;
  --color-dark: #f2f2f2;
  --color-transparent: transparent;
  --color-hoverColor: #f5c343;
}

.top-nav {
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  width: 100vw;
  padding: 0;
}

.menu-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.hamburger-menu {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.hamburger-menu__logo {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.hamburger-menu__ctrl {
  margin: 0 0 0 auto;
}
.hamburger-menu__ctrl--button {
  margin: 2em 3rem 0;
  padding: 5px;
  cursor: pointer;
  z-index: 20;
  position: relative;
}
.hamburger-menu__ctrl--button span {
  display: block;
  height: 4px;
  width: 40px;
  background-color: var(--color-dark);
  margin: 6px 0px 6px 0px;
  transition: all 300ms ease-in-out;
  transform: none;
  z-index: 10;
}

.no-scrollbar {
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}
.no-scrollbar ::-webkit-scrollbar {
  display: none;
}

.menu_content {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 200vh;
  z-index: -10;
  background: #000;
  opacity: 0;
  display: block;
  margin-top: 0;
  text-align: center;
  transition: all 700ms ease-in-out;
}
.menu_content__items {
  display: inline-block;
  text-align: left;
}
.menu_content__items ul {
  transform: translateY(15vh);
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu_content__items ul li a {
  display: inline-block;
  font-size: 2rem;
  color: var(--color-light);
  text-decoration: none;
  line-height: 5rem;
  transition: all 200ms linear;
  font-family: Mono;
}
.menu_content__items ul li a:active, .menu_content__items ul li a:hover {
  color: var(--color-hoverColor);
}

#menustate:checked ~ .hamburger-menu span:nth-of-type(1) {
  transform: translate(0, 10px) rotate(-45deg);
  background-color: var(--color-light);
  position: relative;
}

#menustate:checked ~ .hamburger-menu span:nth-of-type(2) {
  transform: rotate(45deg) translateX(0px);
  background-color: var(--color-light);
  position: relative;
}

#menustate:checked ~ .hamburger-menu span:nth-of-type(3) {
  transition: opacity 350ms linear;
  opacity: 0;
}

#menustate:checked ~ .hamburger-menu .hamburger-menu__items {
  position: relative;
  padding-bottom: 1rem;
}

#menustate:checked ~ .menu_content {
  z-index: 1;
  opacity: 0.8;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5;
}

ul {
  list-style: none;
}

li,
p {
  font-family: Roboto;
}

body {
  background: #f2f2f2;
}

.paddingTop {
  padding-top: 2em;
}

.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.rowReverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flexEnd {
  align-items: flex-end;
}

.flexStart {
  align-items: flex-start;
}

.flexBetween {
  justify-content: space-between;
}

.flexAround {
  justify-content: space-around;
}

.whiteCube {
  width: 1em;
  height: 1em;
  color: #f2f2f2;
  background: #f2f2f2;
}

.bold {
  font-weight: 600;
}

.big {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.section_1 {
  background: #3366ff;
}
.section_1 .logo {
  flex-grow: 3;
}
.section_1 .logo img {
  width: 100px;
  padding: 0 0 0 5em;
}
.section_1 .coin {
  padding-left: 5em;
}
.section_1 .coin img {
  width: 50px;
  padding-right: 0.5em;
}
.section_1 .coin p {
  color: #f2f2f2;
  font-family: Mono;
}
.section_1 .menu {
  flex-grow: 1;
}
.section_1 .menu ul {
  list-style: none;
  justify-content: space-around;
  padding: 0 5em;
  font-family: Mono;
}
.section_1 .menu ul li {
  font-family: Mono;
  font-size: 1.35em;
  font-style: italic;
  color: #f2f2f2;
}
.section_1 .menu ul :hover {
  color: #f5c343;
  cursor: pointer;
}
.section_1 .title {
  padding: 8em 18%;
}
.section_1 .title h2 {
  text-align: center;
  color: #f2f2f2;
  line-height: 1.8;
  font-style: italic;
  font-weight: 600;
}
.section_1 .icon {
  height: 500px;
}
.section_1 .icon img {
  width: 8%;
}
.section_1 .icon .scrivania {
  right: 10%;
  width: 35%;
}
.section_1 .icon .papera {
  left: 20%;
  transform: rotate(-8deg);
}
.section_1 .icon .valigia {
  width: 25%;
  left: 25%;
  transform: rotate(-10deg);
}
.section_1 .icon .stella {
  left: 20%;
  top: 50%;
  transform: rotate(5deg);
}
.section_1 .icon .cuore {
  left: 35%;
  top: 60%;
  transform: rotate(-2deg);
}
.section_1 .last_1s_div {
  padding: 4em 0 2em;
}
.section_1 .last_1s_div h2 {
  font-size: 1.5em;
  color: #f5c343;
}
.section_1 .yellowBg {
  height: 100px;
  background-color: #f5c343;
}

.section_2 {
  background: #f2f2f2;
  padding: 7em 10em 0 10em;
}
.section_2 .mission {
  background: #c6eafa;
  width: 100%;
}
.section_2 .mission .missionText {
  padding: 3em 20% 5em 5em;
}
.section_2 .mission .missionText h2 {
  padding-bottom: 1em;
  font-weight: 600;
  font-style: italic;
}
.section_2 .mission .missionText p {
  font-size: 1.7em;
}
.section_2 .list {
  padding: 10% 10% 0 10%;
}
.section_2 .list .listElement {
  align-items: flex-start;
}
.section_2 .list .listElement .imgList {
  height: 80px;
}
.section_2 .list .listElement .iconList {
  width: 30%;
}
.section_2 .list .listElement .matita {
  width: 25%;
}
.section_2 .list .listElement .iconCommunity {
  width: 35%;
}
.section_2 .list .listElement h2 {
  padding: 1em 0;
  font-size: 1.7em;
}
.section_2 .list .svago {
  padding: 0 10%;
}
.section_2 .list .personalizzazione {
  padding-left: 2em;
}

.serving {
  max-width: 70%;
}
.serving .servingText {
  background: #c4c4c4;
}
.serving .servingText p {
  padding: 7%;
}
.serving .servingImg {
  width: 100%;
}

.section_3 {
  background: #3366ff;
  color: #f2f2f2;
}
.section_3 .big {
  font-weight: 600;
}
.section_3 h2 {
  padding-top: 2em;
}
.section_3 .small {
  padding-top: 1em;
}
.section_3 .phone {
  bottom: -20%;
  right: 5%;
}

.section_4 {
  background: #f2f2f2;
  padding: 15em 10em 25em 10em;
}
.section_4 .why {
  background: #9091fb;
  width: 100%;
  color: #f2f2f2;
  position: relative;
}
.section_4 .why .whyText {
  padding: 5em 20% 5em 5em;
}
.section_4 .why .whyText h2 {
  padding-bottom: 1.5em;
  font-weight: 600;
  font-style: italic;
}
.section_4 .why .whyText p {
  font-size: 1.7em;
}
.section_4 .why .whyText .whyP2 {
  padding-top: 1em;
}
.section_4 .why .serving {
  position: absolute;
  right: 0;
  bottom: -20em;
}

.section_5 {
  background: #c6eafa;
}
.section_5 h2 {
  padding: 1em 0;
}
.section_5 ul {
  padding-bottom: 2em;
}
.section_5 li {
  font-size: 1.5em;
  padding: 5px 0;
}
.section_5 .ulSpace {
  padding-right: 10%;
}
.section_5 .plan {
  padding: 3em 0;
  width: 80%;
}
.section_5 .space {
  padding: 0 0 5% 10%;
}
.section_5 button {
  border-style: solid;
  border-width: 5px;
  border-color: #000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
  font-size: 1.5em;
  padding: 0.5em;
}
@supports (border-image-source: none) {
  .section_5 button {
    border-radius: 17px;
  }
}
.section_5 .freePlan {
  border-style: solid;
  border-width: 12px;
  border-color: #000;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
  background: #f2f2f2;
  width: 25%;
}
@supports (border-image-source: none) {
  .section_5 .freePlan {
    border-radius: 52px;
  }
}
.section_5 .freePlan button {
  background: #f5c343;
}
.section_5 .freePlan ul {
  padding-bottom: 1.2em;
}
.section_5 .proPlan {
  border-style: solid;
  border-width: 10px;
  border-color: #000;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
  background: #f5c343;
  width: 40%;
}
@supports (border-image-source: none) {
  .section_5 .proPlan {
    border-radius: 44px;
  }
}
.section_5 .proPlan button {
  background: #f2f2f2;
  margin-top: 1em;
  font-size: 1.6em;
}
.section_5 .proPlan h2 {
  padding-bottom: 1em;
}

.section_6 {
  padding: 0 10em 7em 10em;
  background: #f2f2f2;
}
.section_6 img {
  width: 10%;
}
.section_6 h2 {
  font-style: italic;
  padding: 0.5em 0 1em 0;
  font-weight: 600;
}
.section_6 button {
  background: #c6eafa;
  color: black;
  font-weight: 600;
  border-style: solid;
  border-width: 8px;
  border-color: black;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='black' /></svg>");
  padding: 1% 5%;
  font-size: 2em;
}
@supports (border-image-source: none) {
  .section_6 button {
    border-radius: 26px;
  }
}
.section_6 .login {
  margin: 5em 0;
  background: #3366ff;
  width: 100%;
  color: #f2f2f2;
}
.section_6 .login .loginText {
  padding: 2em 0;
}
.section_6 .login h2 {
  padding-bottom: 1em;
  font-weight: 400;
}
.section_6 .login button {
  background: #3366ff;
  color: #f2f2f2;
  border-style: solid;
  border-width: 8px;
  border-color: #f2f2f2;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23f2f2f2' /></svg>");
}
@supports (border-image-source: none) {
  .section_6 .login button {
    border-radius: 26px;
  }
}

.section_7 {
  background: #9091fb;
}
.section_7 h2 {
  color: #f2f2f2;
  font-weight: 600;
}
.section_7 .formDiv {
  padding: 5em 5% 0em 5%;
}
.section_7 .formDiv .contact {
  background: #f2f2f2;
  margin: 3em 15%;
}
.section_7 .formDiv .contact .whiteCube {
  color: #9091fb;
  background: #9091fb;
}
.section_7 .formDiv .contact .contactForm {
  padding: 2em 10%;
}
.section_7 .formDiv .contact .contactForm .space {
  padding: 0.5em 0 1em 0;
}
.section_7 .formDiv .contact .contactForm textarea {
  width: 100%;
  resize: none;
  background: #f2f2f2;
  color: black;
  padding: 0.5em 0 1% 0.5em;
  height: 80px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='black' /></svg>");
}
@supports (border-image-source: none) {
  .section_7 .formDiv .contact .contactForm textarea {
    border-radius: 17px;
  }
}
.section_7 .formDiv .contact .contactForm input {
  width: 100%;
  height: 50px;
  resize: none;
  background: #f2f2f2;
  color: black;
  padding: 1% 0 1% 0.5em;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='black' /></svg>");
}
@supports (border-image-source: none) {
  .section_7 .formDiv .contact .contactForm input {
    border-radius: 17px;
  }
}
.section_7 .formDiv .contact .contactForm .name {
  width: 45%;
}
.section_7 .formDiv .contact .contactForm label {
  padding: 1% 0 1.3% 0.2em;
  font-size: 1.8em;
}
.section_7 .formDiv .contact .contactForm button {
  width: 30%;
  padding: 1% 0;
  margin: 0.5em 0;
  background: #f2f2f2;
  color: black;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='black' /></svg>");
  font-size: 2em;
}
@supports (border-image-source: none) {
  .section_7 .formDiv .contact .contactForm button {
    border-radius: 17px;
  }
}
.section_7 .massi .whiteCube {
  background: #9091fb;
  color: #9091fb;
}

footer {
  background: #c6eafa;
}
footer .space {
  padding: 2em 5% 0 5%;
}
footer img {
  width: 30%;
}
footer li {
  padding-bottom: 1.5em;
}
footer .contatti {
  margin-left: -20%;
}
footer .social {
  margin-left: 20%;
}
footer .social i {
  color: #3366ff;
  font-size: 2em;
}

@media (max-width: 1536px) {
  .section_2 .list {
    padding-left: 0em;
    padding-right: 0em;
  }
}
@media (max-width: 1280px) {
  .serving .servingImg {
    width: 120%;
  }

  .section_1 .title {
    padding: 4.5em 10%;
  }
  .section_1 .icon .stella {
    left: 10%;
    top: 25%;
  }
  .section_1 .icon .papera {
    left: 15%;
  }
  .section_1 .icon .cuore {
    top: 40%;
  }
  .section_1 .icon .scrivania {
    width: 40%;
  }
  .section_1 .last_1s_div {
    padding: 0 0 2em 0;
  }

  .section_2 .psc .flex {
    flex-direction: column;
  }
  .section_2 .list .svago {
    padding: 0;
  }
  .section_2 .list .personalizzazione,
.section_2 .list .svago,
.section_2 .list .community {
    padding: 0 10em;
  }
  .section_2 .list .personalizzazione .iconList,
.section_2 .list .svago .iconList,
.section_2 .list .community .iconList {
    width: 4em;
  }
  .section_2 .list .community {
    padding: 0 10em;
  }
  .section_2 .list .community .iconList {
    width: 5em;
  }
  .section_2 .list .listElement .flex {
    justify-content: center;
    align-items: center;
  }
  .section_2 .list .listElement h2 {
    padding: 0.5em 0 0.8em 0;
  }
  .section_2 .list .listElement p {
    width: 100%;
    padding-bottom: 1em;
  }

  .section_3 .relative {
    display: flex;
    justify-content: center;
  }
  .section_3 h2 {
    padding: 0 5em;
  }
  .section_3 img {
    width: 100%;
  }
  .section_3 .phone {
    width: 28%;
    right: 8%;
  }

  .section_4 .why .whyText {
    padding: 3em 10% 3em 10%;
  }
  .section_4 .why .serving {
    bottom: -16em;
  }

  .section_5 .plan {
    flex-direction: column;
    padding: 1em 0 0 0;
  }
  .section_5 .plan .freePlan {
    width: 50%;
  }
  .section_5 .plan .freePlan .space {
    padding-left: 4em;
  }
  .section_5 .plan .proPlan {
    width: 70%;
    margin: 2em 0 1em 0;
  }
  .section_5 .plan .proPlan .space {
    padding-left: 4em;
  }
}
@media (max-width: 1024px) {
  .section_2 {
    padding: 7em 5em 0 5em;
  }
  .section_2 .mission .missionText {
    padding-right: 10%;
  }
  .section_2 .list .personalizzazione,
.section_2 .list .svago,
.section_2 .list .community {
    padding: 0 5em;
  }
  .section_2 .list .personalizzazione .iconList,
.section_2 .list .svago .iconList,
.section_2 .list .community .iconList {
    width: 4em;
  }

  .section_4 {
    padding: 10em 4em 20em 4em;
  }
  .section_4 .why .serving {
    right: 5%;
  }

  .section_6 {
    padding: 0 4em 7em 4em;
  }

  .section_7 .formDiv .contact {
    margin: 3em 5%;
  }
  .section_7 .formDiv .contact .contactForm button {
    width: 50%;
  }

  .hamburger {
    display: block;
    position: absolute;
  }

  .menu {
    display: none;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.7em;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .section_1 .logo img {
    padding: 0 0 0 5%;
  }
  .section_1 .logo .coin {
    padding-left: 10%;
  }
  .section_1 .logo .coin img {
    width: 45px;
  }
  .section_1 .title {
    padding: 4.5em 5%;
  }
  .section_1 .title h2 {
    font-size: 1.7em;
    line-height: 1.5;
    text-align: start;
  }
  .section_1 .icon {
    height: 250px;
  }
  .section_1 .icon .valigia {
    width: 30%;
    top: 2%;
  }
  .section_1 .icon .papera {
    width: 13%;
  }
  .section_1 .icon .cuore {
    width: 13%;
    top: 44%;
    left: 33%;
  }
  .section_1 .icon .stella {
    width: 13%;
    top: 28%;
  }
  .section_1 .icon .scrivania {
    width: 45%;
  }

  .section_2 {
    padding: 5em 5% 0 5%;
  }
  .section_2 .mission .missionText {
    padding: 2em 5% 3em 5%;
  }
  .section_2 .mission .missionText p {
    font-size: 1.4em;
  }
  .section_2 .list .personalizzazione,
.section_2 .list .svago,
.section_2 .list .community {
    padding: 0 5%;
  }

  .section_3 h2 {
    padding: 1em 5% 0 5%;
  }
  .section_3 .small {
    padding: 1em 5% 1em 5%;
  }
  .section_3 .relative {
    justify-content: flex-end;
  }
  .section_3 .phone {
    width: 80%;
    position: relative;
  }

  .section_4 {
    padding: 5em 5% 20em 5%;
  }
  .section_4 .why .whyText {
    padding: 2em 5% 2em 5%;
  }
  .section_4 .why .whyText p {
    font-size: 1.4em;
  }
  .section_4 .why .serving {
    bottom: -20em;
    right: 10%;
  }

  .section_5 .plan {
    align-items: center;
    width: 100%;
  }
  .section_5 .plan .freePlan {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_5 .plan .freePlan .space {
    padding: 0;
  }
  .section_5 .plan .ulSpace {
    padding-left: 5%;
  }
  .section_5 .plan .proPlan {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_5 .plan .proPlan .space {
    padding: 0;
  }
  .section_5 .plan .proPlan h2 {
    padding-left: 5%;
  }
  .section_5 button {
    margin: 0 5% 1em 5%;
  }

  .section_6 {
    padding: 0 5% 3em 5%;
  }
  .section_6 img {
    width: 25%;
  }
  .section_6 .login {
    margin: 3em 0;
  }
  .section_6 .login h2 {
    padding: 0.5em 0.5em 1em 0.5em;
  }

  .section_7 .formDiv {
    padding: 3em 0 0 0;
  }
  .section_7 .formDiv .contact {
    margin: 2em 5%;
  }
  .section_7 .formDiv .contact .contactForm {
    padding: 2em 10% 2em 6.5%;
  }
  .section_7 .formDiv .contact .contactForm .space {
    flex-direction: column;
  }
  .section_7 .formDiv .contact .contactForm .name {
    width: 100%;
  }
  .section_7 .formDiv .contact .contactForm .surname {
    padding-top: 1em;
  }

  footer .column {
    align-items: center;
  }
  footer img {
    width: 20%;
    padding-bottom: 1em;
  }
  footer .space {
    flex-direction: column;
  }
  footer .info {
    flex-direction: column;
  }
  footer .contatti {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
  }
  footer .social {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }
  footer .mobile {
    padding-top: 0.5em;
  }
  footer .mobile p {
    text-align: center;
    font-size: 1em;
  }
  footer .mobile .line {
    height: 1px;
    width: 100%;
    background: #3366ff;
    margin-bottom: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
