@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

@font-face {
  font-family: Mono;
  src: url(assets/fonts/mono/spacemono-regular-webfont.woff);
}
@font-face {
  font-family: Roboto;
  src: url(assets/fonts/roboto/roboto-regular-webfont.woff)
    url(assets/fonts/roboto/roboto-light-webfont.woff);
}

$primaryColor: #3366ff;
$bgColor: #f2f2f2;
$grayColor: #c4c4c4;
$associatedColor: #f5c343;
$secondaryColor: #c6eafa;
$purpleColor: #9091fb;

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Mono;
}

.mobile {
  display: none;
}
//Hamburger menu
.hamburger {
  display: none;
  z-index: 9999;
}
@function getColor($color-id) {
  @return var(--color-#{$color-id});
}

$colors: (
  light: #f2f2f2,
  dark: #f2f2f2,
  transparent: transparent,
  hoverColor: #f5c343,
);

.top-nav {
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  width: 100vw;
  padding: 0;
}

.menu-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.hamburger-menu {
  display: flex;
  flex-direction: row;
  align-content: center;

  &__logo {
    margin: 0.5rem 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &__ctrl {
    margin: 0 0 0 auto;

    &--button {
      margin: 2em 3rem 0;
      padding: 5px;

      cursor: pointer;
      z-index: 20;
      position: relative;

      span {
        display: block;
        height: 4px;
        width: 40px;
        background-color: getColor(dark);
        margin: 6px 0px 6px 0px;
        transition: all 300ms ease-in-out;
        transform: none;
        z-index: 10;
      }
    }
  }
}

.no-scrollbar {
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.menu_content {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 200vh;
  z-index: -10;
  background: #000;
  opacity: 0;
  display: block;
  margin-top: 0;
  text-align: center;
  transition: all 700ms ease-in-out;

  &__items {
    display: inline-block;
    text-align: left;

    ul {
      transform: translateY(15vh);
      padding: 0;
      margin: 0;
      list-style: none;

      li a {
        display: inline-block;
        font-size: 2rem;
        color: getColor(light);
        text-decoration: none;
        line-height: 5rem;
        transition: all 200ms linear;
        font-family: Mono;
        &:active,
        &:hover {
          color: getColor(hoverColor);
        }
      }
    }
  }
}

#menustate:checked ~ .hamburger-menu span:nth-of-type(1) {
  transform: translate(0, 10px) rotate(-45deg);
  background-color: getColor(light);
  position: relative;
}

#menustate:checked ~ .hamburger-menu span:nth-of-type(2) {
  transform: rotate(45deg) translateX(0px);
  background-color: getColor(light);
  position: relative;
}

#menustate:checked ~ .hamburger-menu span:nth-of-type(3) {
  transition: opacity 350ms linear;
  opacity: 0;
}

#menustate:checked ~ .hamburger-menu .hamburger-menu__items {
  position: relative;
  padding-bottom: 1rem;
}

#menustate:checked ~ .menu_content {
  z-index: 1;
  opacity: 0.8;
}

//FINE MENU

h2 {
  font-size: 2em;
}
p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: $bgColor;
}
ul {
  list-style: none;
}
li,
p {
  font-family: Roboto;
}

body {
  background: $bgColor;
}
.paddingTop {
  padding-top: 2em;
}

.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}
.rowReverse {
  flex-direction: row-reverse;
}
.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.flexEnd {
  align-items: flex-end;
}
.flexStart {
  align-items: flex-start;
}
.flexBetween {
  justify-content: space-between;
}
.flexAround {
  justify-content: space-around;
}

.whiteCube {
  width: 1em;
  height: 1em;
  color: $bgColor;
  background: $bgColor;
}
.bold {
  font-weight: 600;
}
.big {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
//css section1

body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section_1 {
  background: $primaryColor;
  left: -100px;
  .logo {
    flex-grow: 3;
    img {
      width: 100px;
      padding: 0 0 0 5em;
    }
  }

  .coin {
    padding-left: 5em;
    img {
      width: 50px;
      padding-right: 0.5em;
    }
    p {
      color: $bgColor;
      font-family: Mono;
    }
  }
  .menu {
    flex-grow: 1;
    ul {
      list-style: none;
      justify-content: space-around;
      padding: 0 5em;
      font-family: Mono;
      li {
        font-family: Mono;
        font-size: 1.35em;
        font-style: italic;
        color: $bgColor;
      }
      :hover {
        color: $associatedColor;
        cursor: pointer;
      }
    }
  }

  .title {
    padding: 8em 18%;

    h2 {
      text-align: center;
      color: $bgColor;
      line-height: 1.8;
      font-style: italic;
      font-weight: 600;
    }
  }
  .icon {
    height: 500px;
    img {
      width: 8%;
    }
    .scrivania {
      right: 10%;
      width: 35%;
    }
    .papera {
      left: 20%;
      transform: rotate(-8deg);
    }
    .valigia {
      width: 25%;
      left: 25%;
      transform: rotate(-10deg);
    }
    .stella {
      left: 20%;
      top: 50%;
      transform: rotate(5deg);
    }
    .cuore {
      left: 35%;
      top: 60%;
      transform: rotate(-2deg);
    }
  }
  .last_1s_div {
    padding: 4em 0 2em;
    h2 {
      font-size: 1.5em;
      color: $associatedColor;
    }
  }
  .yellowBg {
    height: 100px;
    background-color: $associatedColor;
  }
}

//css section 2

.section_2 {
  background: $bgColor;
  padding: 7em 10em 0 10em;
  .mission {
    background: $secondaryColor;
    width: 100%;

    .missionText {
      padding: 3em 20% 5em 5em;
      h2 {
        padding-bottom: 1em;
        font-weight: 600;
        font-style: italic;
      }
      p {
        font-size: 1.7em;
      }
    }
  }
  .list {
    padding: 10% 10% 0 10%;

    .listElement {
      align-items: flex-start;
      .imgList {
        height: 80px;
      }
      .iconList {
        width: 30%;
      }
      .matita {
        width: 25%;
      }
      .iconCommunity {
        width: 35%;
      }
      h2 {
        padding: 1em 0;
        font-size: 1.7em;
      }
    }
    .svago {
      padding: 0 10%;
    }
    .personalizzazione {
      padding-left: 2em;
    }
  }
}
.serving {
  max-width: 70%;
  .servingText {
    background: $grayColor;
    p {
      padding: 7%;
    }
  }
  .servingImg {
    width: 100%;
  }
}

.section_3 {
  background: $primaryColor;
  color: $bgColor;
  margin-top: -15em;
  .big {
    font-weight: 600;
  }
  h2 {
    padding-top: 2em;
  }
  .small {
    padding-top: 1em;
  }
  .phone {
    bottom: -20%;
    right: 5%;
  }
}
.section_4 {
  background: $bgColor;
  padding: 14em 10em 24em 10em;
  #about {
    padding-top: 1em;
  }
  .why {
    background: $purpleColor;
    width: 100%;
    color: $bgColor;
    position: relative;
    .whyText {
      padding: 5em 20% 5em 5em;
      h2 {
        padding-bottom: 1.5em;
        font-weight: 600;
        font-style: italic;
      }
      p {
        font-size: 1.7em;
      }
      .whyP2 {
        padding-top: 1em;
      }
    }
    .serving {
      position: absolute;
      right: 0;
      bottom: -20em;
    }
  }
}

.section_5 {
  background: $secondaryColor;
  #service {
    padding-top: 1em;
    background: $bgColor;
  }
  h2 {
    padding: 1em 0;
  }

  ul {
    padding-bottom: 2em;
  }
  li {
    font-size: 1.5em;
    padding: 5px 0;
  }
  .ulSpace {
    padding-right: 10%;
  }
  .plan {
    padding: 3em 0;
    width: 80%;
  }
  .space {
    padding: 0 0 5% 10%;
  }
  button {
    @include pixel-borders(
      $corner-size: 1,
      $border-size: 5px,
      $border-color: #000,
      $border-inset-color: false
    );
    font-size: 1.5em;
    padding: 0.5em;
  }
  .freePlan {
    @include pixel-borders(
      $corner-size: 2,
      $border-size: 12px,
      $border-color: #000,
      $border-inset-color: false
    );
    background: $bgColor;
    width: 25%;

    button {
      background: $associatedColor;
    }
    ul {
      padding-bottom: 1.2em;
    }
  }
  .proPlan {
    @include pixel-borders(
      $corner-size: 2,
      $border-size: 10px,
      $border-color: #000,
      $border-inset-color: false
    );
    background: $associatedColor;
    width: 40%;

    button {
      background: $bgColor;
      margin-top: 1em;
      font-size: 1.6em;
    }
    h2 {
      padding-bottom: 1em;
    }
  }
}

//SECTION 6

.section_6 {
  padding: 0 10em 7em 10em;
  background: $bgColor;
  img {
    width: 10%;
  }
  h2 {
    font-style: italic;
    padding: 0.5em 0 1em 0;
    font-weight: 600;
  }
  button {
    background: $secondaryColor;
    color: black;
    font-weight: 600;
    @include pixel-borders(
      $corner-size: 1,
      $border-size: 8px,
      $border-color: black,
      $border-inset-color: false
    );
    padding: 1% 5%;
    font-size: 2em;
  }
  .login {
    margin: 5em 0;
    background: $primaryColor;
    width: 100%;
    color: $bgColor;
    .loginText {
      padding: 2em 0;
    }
    h2 {
      padding-bottom: 1em;
      font-weight: 400;
    }
    button {
      background: $primaryColor;
      color: $bgColor;
      @include pixel-borders(
        $corner-size: 1,
        $border-size: 8px,
        $border-color: $bgColor,
        $border-inset-color: false
      );
    }
  }
}

.section_7 {
  background: $purpleColor;
  h2 {
    color: $bgColor;
    font-weight: 600;
  }
  .formDiv {
    padding: 5em 5% 0em 5%;
    .contact {
      background: $bgColor;
      margin: 3em 15%;
      .whiteCube {
        color: $purpleColor;
        background: $purpleColor;
      }
      .contactForm {
        padding: 2em 10%;
        .space {
          padding: 0.5em 0 1em 0;
        }
        textarea {
          width: 100%;
          resize: none;
          background: $bgColor;
          color: black;
          padding: 0.5em 0 1% 0.5em;
          height: 80px;
          @include pixel-borders(
            $corner-size: 1,
            $border-size: 5px,
            $border-color: black,
            $border-inset-color: false
          );
        }
        input {
          width: 100%;
          height: 50px;
          resize: none;
          background: $bgColor;
          color: black;
          padding: 1% 0 1% 0.5em;
          @include pixel-borders(
            $corner-size: 1,
            $border-size: 5px,
            $border-color: black,
            $border-inset-color: false
          );
        }
        .name {
          width: 45%;
        }
        label {
          padding: 1% 0 1.3% 0.2em;
          font-size: 1.8em;
        }

        button {
          width: 30%;
          padding: 1% 0;
          margin: 0.5em 0;
          background: $bgColor;
          color: black;
          @include pixel-borders(
            $corner-size: 1,
            $border-size: 5px,
            $border-color: black,
            $border-inset-color: false
          );
          font-size: 2em;
        }
      }
    }
  }
  .massi {
    .whiteCube {
      background: $purpleColor;
      color: $purpleColor;
    }
  }
}

footer {
  background: $secondaryColor;
  .space {
    padding: 2em 5% 0 5%;
  }
  img {
    width: 30%;
  }
  li {
    padding-bottom: 1.5em;
  }
  .contatti {
    margin-left: -20%;
  }
  .social {
    margin-left: 20%;
    i {
      color: $primaryColor;
      font-size: 2em;
    }
  }
}

@media (max-width: 1536px) {
  .section_2 {
    .list {
      padding-left: 0em;
      padding-right: 0em;
    }
  }
  .section_3 {
    margin-top: -5em;
  }
  .section_4 {
    .why {
      .serving {
        bottom: -25em;
      }
    }
  }
}
@media (max-width: 1280px) {
  .serving .servingImg {
    width: 120%;
  }
  .section_1 {
    .title {
      padding: 4.5em 10%;
    }
    .icon {
      .stella {
        left: 10%;
        top: 25%;
      }
      .papera {
        left: 15%;
      }
      .cuore {
        top: 40%;
      }

      .scrivania {
        width: 40%;
      }
    }
    .last_1s_div {
      padding: 0 0 2em 0;
    }
  }
  .section_2 {
    .psc {
      .flex {
        flex-direction: column;
      }
    }
    .list {
      .svago {
        padding: 0;
      }
      .personalizzazione,
      .svago,
      .community {
        padding: 0 10em;
        .iconList {
          width: 4em;
        }
      }
      .community {
        padding: 0 10em;
        .iconList {
          width: 5em;
        }
      }
      .listElement {
        .flex {
          justify-content: center;
          align-items: center;
        }
        h2 {
          padding: 0.5em 0 0.8em 0;
        }
        p {
          width: 100%;
          padding-bottom: 1em;
        }
      }
    }
  }
  .section_3 {
    margin-top: -5em;
    .relative {
      display: flex;
      justify-content: center;
    }
    h2 {
      padding: 0 5em;
    }

    img {
      width: 100%;
    }
    .phone {
      width: 28%;
      right: 8%;
    }
  }
  .section_4 {
    .why {
      .whyText {
        padding: 3em 10% 3em 10%;
      }
      .serving {
        bottom: -25em;
      }
    }
  }
  .section_5 {
    .plan {
      flex-direction: column;
      padding: 1em 0 0 0;
      .freePlan {
        width: 50%;
        .space {
          padding-left: 4em;
        }
      }
      .proPlan {
        width: 70%;
        margin: 2em 0 1em 0;

        .space {
          padding-left: 4em;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .section_2 {
    padding: 7em 5em 0 5em;
    .mission {
      .missionText {
        padding-right: 10%;
      }
    }
    .list {
      .personalizzazione,
      .svago,
      .community {
        padding: 0 5em;
        .iconList {
          width: 4em;
        }
      }
    }
  }
  .section_4 {
    padding: 10em 4em 20em 4em;
    .why {
      .serving {
        right: 5%;
      }
    }
  }
  .section_6 {
    padding: 0 4em 7em 4em;
  }
  .section_7 {
    .formDiv {
      .contact {
        margin: 3em 5%;
        .contactForm {
          button {
            width: 50%;
          }
        }
      }
    }
  }
  .hamburger {
    display: block;
    position: absolute;
  }
  .menu {
    display: none;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.7em;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .section_1 {
    .logo {
      img {
        padding: 0 0 0 5%;
      }
      .coin {
        padding-left: 10%;
        img {
          width: 45px;
        }
      }
    }
    .title {
      padding: 4.5em 5%;
      h2 {
        font-size: 1.7em;
        line-height: 1.5;
        text-align: start;
      }
    }

    .icon {
      height: 250px;
      .valigia {
        width: 30%;
        top: 2%;
      }
      .papera {
        width: 13%;
      }
      .cuore {
        width: 13%;
        top: 44%;
        left: 33%;
      }
      .stella {
        width: 13%;
        top: 28%;
      }
      .scrivania {
        width: 45%;
      }
    }
  }
  .section_2 {
    padding: 5em 5% 0 5%;
    .mission {
      .missionText {
        padding: 2em 5% 3em 5%;
        p {
          font-size: 1.4em;
        }
      }
    }
    .list {
      .personalizzazione,
      .svago,
      .community {
        padding: 0 5%;
      }
    }
  }
  .section_3 {
    margin-top: 0;
    h2 {
      padding: 1em 5% 0 5%;
    }
    .small {
      padding: 1em 5% 1em 5%;
    }
    .relative {
      justify-content: flex-end;
    }
    .phone {
      width: 80%;
      position: relative;
    }
  }
  .section_4 {
    padding: 5em 5% 20em 5%;
    .why {
      .whyText {
        padding: 2em 5% 2em 5%;
        p {
          font-size: 1.4em;
        }
      }
      .serving {
        bottom: -20em;
        right: 10%;
      }
    }
  }
  .section_5 {
    .plan {
      align-items: center;
      width: 100%;
      .freePlan {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .space {
          padding: 0;
        }
      }
      .ulSpace {
        padding-left: 5%;
      }
      .proPlan {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .space {
          padding: 0;
        }
        h2 {
          padding-left: 5%;
        }
      }
    }
    button {
      margin: 0 5% 1em 5%;
    }
  }
  .section_6 {
    padding: 0 5% 3em 5%;
    img {
      width: 25%;
    }
    .login {
      margin: 3em 0;
      h2 {
        padding: 0.5em 0.5em 1em 0.5em;
      }
    }
  }
  .section_7 {
    .formDiv {
      padding: 3em 0 0 0;
      .contact {
        margin: 2em 5%;
        .contactForm {
          padding: 2em 10% 2em 6.5%;
          .space {
            flex-direction: column;
          }
          .name {
            width: 100%;
          }
          .surname {
            padding-top: 1em;
          }
        }
      }
    }
  }
  footer {
    .column {
      align-items: center;
    }
    img {
      width: 20%;
      padding-bottom: 1em;
    }
    .space {
      flex-direction: column;
    }
    .info {
      flex-direction: column;
    }
    .contatti {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1em;
    }
    .social {
      margin: 0;
      display: flex;
      justify-content: space-evenly;
    }
    .mobile {
      padding-top: 0.5em;
      p {
        text-align: center;
        font-size: 1em;
      }
      .line {
        height: 1px;
        width: 100%;
        background: $primaryColor;
        margin-bottom: 1.5em;
      }
    }
  }
}
