@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

@font-face {
  font-family: Mono;
  src: url(assets/fonts/mono/spacemono-regular-webfont.woff);
}
@font-face {
  font-family: Roboto;
  src: url(assets/fonts/roboto/roboto-regular-webfont.woff)
    url(assets/fonts/roboto/roboto-light-webfont.woff);
}
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Mono;
}
h2 {
  font-size: 2em;
}
p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5;
}
ul {
  list-style: none;
}
li,
p {
  font-family: Roboto;
}

$primaryColor: #3366ff;
$bgColor: #f2f2f2;
$grayColor: #c4c4c4;
$associatedColor: #f5c343;
$secondaryColor: #c6eafa;
$purpleColor: #9091fb;

.paddingTop {
  padding-top: 2em;
}

.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}
.rowReverse {
  flex-direction: row-reverse;
}
.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.flexEnd {
  align-items: flex-end;
}
.flexStart {
  align-items: flex-start;
}
.flexBetween {
  justify-content: space-between;
}
.flexAround {
  justify-content: space-around;
}

.whiteCube {
  width: 1em;
  height: 1em;
  color: $bgColor;
  background: $bgColor;
}
.bold {
  font-weight: 600;
}
//css section1

.section_1 {
  background: $primaryColor;
  .logo {
    flex-grow: 3;
    img {
      width: 100px;
      padding: 0 0 0 5em;
      color: $bgColor;
    }
  }

  .coin {
    padding-left: 5em;
    img {
      width: 50px;
      padding-right: 0.5em;
    }
    p {
      color: $bgColor;
      font-family: Mono;
    }
  }
  .menu {
    flex-grow: 1;
    ul {
      list-style: none;
      justify-content: space-around;
      padding: 0 5em;
      li {
        font-size: 1.2em;
        font-style: italic;
        color: $bgColor;
      }
      :hover {
        color: $associatedColor;
        cursor: pointer;
      }
    }
  }

  .title {
    padding: 8em 20em;

    h2 {
      text-align: center;
      color: $bgColor;
      line-height: 1.8;
      font-style: italic;
      font-weight: 600;
    }
  }
  .icon {
    height: 500px;
    img {
      width: 8%;
    }
    .scrivania {
      right: 10%;
      width: 35%;
    }
    .papera {
      left: 20%;
      transform: rotate(-8deg);
    }
    .valigia {
      width: 25%;
      left: 25%;
      transform: rotate(-10deg);
    }
    .stella {
      left: 20%;
      top: 50%;
      transform: rotate(5deg);
    }
    .cuore {
      left: 35%;
      top: 60%;
      transform: rotate(-2deg);
    }
  }
  .last_1s_div {
    padding: 4em 0 2em;
    h2 {
      font-size: 1.5em;
      color: $associatedColor;
    }
  }
  .yellowBg {
    height: 100px;
    background-color: $associatedColor;
  }
}

//css section 2

.section_2 {
  background: $bgColor;
  padding: 7em 10em;
  .mission {
    background: $secondaryColor;
    width: 100%;

    .missionText {
      padding: 5em 20% 5em 5em;
      h2 {
        padding-bottom: 1.5em;
      }
      p {
        font-size: 1.7em;
      }
    }
  }
  .list {
    padding: 10%;

    .listElement {
      align-items: flex-start;
      .imgList {
        height: 80px;
      }
      .iconList {
        width: 30%;
      }
      .matita {
        width: 25%;
      }
      .iconCommunity {
        width: 35%;
      }
      h2 {
        padding: 1em 0;
        font-size: 1.7em;
      }
    }
    .svago {
      padding: 0 10%;
    }
    .personalizzazione {
      padding-left: 2em;
    }
  }
}
.serving {
  max-width: 70%;
  .servingText {
    background: $grayColor;
    p {
      padding: 7%;
    }
  }
  .servingImg {
    width: 100%;
  }
}

.section_3 {
  background: $primaryColor;
  color: $bgColor;
  h2 {
    padding-top: 2em;
  }
  .small {
    padding-top: 1em;
  }
  .phone {
    bottom: -20%;
    right: 5%;
  }
}
.section_4 {
  background: $bgColor;
  padding: 15em 10em 7em 10em;
  .why {
    background: $purpleColor;
    width: 100%;
    color: $bgColor;
    .whyText {
      padding: 5em 20% 5em 5em;
      h2 {
        padding-bottom: 1.5em;
      }
      p {
        font-size: 1.7em;
      }
      .whyP2 {
        padding-top: 1em;
      }
    }
  }
}

.section_5 {
  background: $secondaryColor;
  h2 {
    padding: 1em 0;
  }
  ul {
    padding-bottom: 2em;
  }
  li {
    font-size: 1.5em;
  }
  .ulSpace {
    padding-right: 20%;
  }
  .plan {
    padding: 3em 0;
    width: 80%;
  }
  .space {
    padding: 0 0 5% 10%;
  }
  button {
    @include pixel-borders(
      $corner-size: 1,
      $border-size: 5px,
      $border-color: #000,
      $border-inset-color: false
    );
  }
  .freePlan {
    @include pixel-borders(
      $corner-size: 2,
      $border-size: 10px,
      $border-color: #000,
      $border-inset-color: false
    );
    background: $bgColor;
    width: 25%;

    button {
      background: $associatedColor;
      padding: 1em;
    }
  }
  .proPlan {
    @include pixel-borders(
      $corner-size: 2,
      $border-size: 10px,
      $border-color: #000,
      $border-inset-color: false
    );
    background: $associatedColor;
    width: 40%;

    button {
      background: $bgColor;
      padding: 1em;
    }
  }
}

//SECTION 6

.section_6 {
  padding: 0 10em 7em 10em;
  background: $bgColor;
  img {
    width: 10%;
  }
  h2 {
    font-style: italic;
    padding: 0.5em 0 1em 0;
    font-weight: 600;
  }
  button {
    background: $secondaryColor;
    color: black;
    font-weight: 600;
    @include pixel-borders(
      $corner-size: 1,
      $border-size: 8px,
      $border-color: black,
      $border-inset-color: false
    );
    padding: 1% 5%;
    font-size: 2em;
  }
  .login {
    margin: 5em 0;
    background: $primaryColor;
    width: 100%;
    color: $bgColor;
    .loginText {
      padding: 2em 0;
    }
    h2 {
      padding-bottom: 1em;
      font-weight: 400;
    }
    button {
      background: $primaryColor;
      color: $bgColor;
      @include pixel-borders(
        $corner-size: 1,
        $border-size: 8px,
        $border-color: $bgColor,
        $border-inset-color: false
      );
    }
  }
}

.section_7 {
  background: $purpleColor;
  h2 {
    color: $bgColor;
    font-weight: 600;
  }
  .formDiv {
    padding: 5em 5% 0em 5%;
    .contact {
      background: $bgColor;
      margin: 3em 15%;
      .whiteCube {
        color: $purpleColor;
        background: $purpleColor;
      }
      .contactForm {
        padding: 2em 10%;
        .space {
          padding: 0.5em 0 1em 0;
        }
        textarea {
          width: 100%;
          resize: none;
          background: $bgColor;
          color: black;
          padding: 1% 0 1% 1%;
          height: 80px;
          @include pixel-borders(
            $corner-size: 1,
            $border-size: 5px,
            $border-color: black,
            $border-inset-color: false
          );
        }
        input {
          width: 100%;
          height: 50px;
          resize: none;
          background: $bgColor;
          color: black;
          padding: 1% 0 1% 1%;
          @include pixel-borders(
            $corner-size: 1,
            $border-size: 5px,
            $border-color: black,
            $border-inset-color: false
          );
        }
        .name {
          width: 45%;
        }
        label {
          padding: 1% 0 1.3% 0.2em;
          font-size: 1.8em;
        }

        button {
          width: 30%;
          padding: 1% 0;
          margin: 0.5em 0;
          background: $bgColor;
          color: black;
          @include pixel-borders(
            $corner-size: 1,
            $border-size: 5px,
            $border-color: black,
            $border-inset-color: false
          );
          font-size: 2em;
        }
      }
    }
  }
  .massi {
    .whiteCube {
      background: $purpleColor;
      color: $purpleColor;
    }
  }
}

footer {
  background: $secondaryColor;
  .space {
    padding: 2em 5% 0 5%;
  }
  img {
    width: 30%;
  }
  li {
    padding-bottom: 1.5em;
  }
  .contatti {
    margin-left: -20%;
  }
  .social {
    margin-left: 20%;
    i {
      color: $purpleColor;
      font-size: 2em;
    }
  }
}
